<div *ngIf="deal.id != null" class="card deal-chart-{{deal.resource.key | lower }}">
  <div class="container deal-chart-header">
    <div class="row">
      <div class="col">
        <i class="pull-right icon-arrow-left icons font-5xl d-block"></i>
      </div>
      <div class="col-6 align-center">
        <h3>{{deal.resource.name | upperFirst}} {{year}}</h3>
        <h2 *ngIf="unit === 'EUR'">{{conso | currency:'EUR':true:'1.2'}} TTC*</h2>
        <h2 *ngIf="unit !== 'EUR'">{{conso | number : '1.2-2' }} {{unit}}</h2>
      </div>
      <div class="col">
        <i class="pull-left icon-arrow-right icons font-5xl d-block"></i>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  <chart [options]="options" (load)="saveInstance($event.context)">

  </chart>


  <div class="card-footer deal-chart-footer">
    <div class="row">
      <div class="col-md-1">
        <app-switch [deal]="deal" (onToggleEmitter)="changeUnit($event)"></app-switch>
      </div>
      <div class="col-md-11 align-middle align-center">
        <p>* Les consos et tarifs affichés sont calculés sur la base des revelés saisis. Ils n'ont aucune valeur contractuelle auprès de votre fournisseur.</p>
      </div>
    </div>
  </div>
</div>
