<div class="card card-inverse card-{{deal.resource.key | lower}}">
  <div class="card-block pb-0">
    <div class="btn-group float-right">
      <button type="button" class="btn btn-transparent p-0 pr-1" (click)="releve()">
        <i class="icon-plus"></i>
      </button>
      <button type="button" class="btn btn-transparent p-0 pr-1" (click)="setting()">
        <i class="icon-settings"></i>
      </button>
    </div>
    <h6 class="mb-0">{{deal.resource.name | upperFirst}} {{deal.unitPrice}} € / {{deal.resource.unit}}</h6>
    <small>{{deal.name | upperFirst}}</small>
  </div>
  <div class="chart-wrapper px-3" style="height:70px;">

  </div>
</div>
